<% include ./partials/header %>
<div class="ui main text container">
    <div class="ui huge header">Your Tales</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% abcd.forEach(function(abcd){ %> 
                 <div class="item">
                     <div class="content">
                         <a class="header" href="/blogs/<%= abcd._id %>"> <%=abcd.title%></a>
                         <div class="meta">
                             <span><%= abcd.created.toDateString() %></span>
                             
                         </div>
                         <div class="description">
                             <p><%- abcd.body.substring(0,100) %>...</p>
                         </div>
                           <div class="extra">
                               <a class="ui floated basic violet button" href="/blogs/<%= abcd._id %>"> >
                                   Read More
                                   <i class="right chevron icon"></i>
                               </a>
                           </div>
                     </div>
                     
                     
                    
        
                </div>
<% }) %>
        </div>
    </div>
</div>




<% include ./partials/footer %>